<h1>The Burger Factory</h1>

<img id="burgerImg" src="/assets/img/Hamburger-PNG-File.png" alt="burger.png">

<div id="left">
<h2>Burgers That Are Ready To Be Devoured!</h2>
<ul>
    
    {{#each burgers}}
    {{#unless devoured}}
    <li>
    {{id}}
    {{burger_name}}
    <button data-id={{id}} class="devourBtn" id="devour">DEVOUR</button>
    </li>
    {{/unless}}
    {{/each}}
   

</ul>
</div>



<div id="right">
<h2>Burgers That Are already Devoured!</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
     <li>
    {{id}}
    {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>
</div>

<h2>What's Your Burger?</h2>
<form class="create-form">

  <div class="form-group">
    <label id="burgerName" for="name">Burger Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <button type="button" id="burgerBtn">Add A Burger!</button>
</form>